# Archivos y carpetas de Python
__pycache__/


# Entornos virtuales
venv/
env/
*.env
*.venv
*.virtualenv
pip-log.txt
pip-delete-this-directory.txt

# Archivos de configuración o credenciales
*.sqlite3
db.sqlite3
.env
.env.local
config.json

# Archivos de logs
logs/
*.log
nohup.out

# Archivos de caché de Django y migraciones innecesarias
*.mo
*.pot
*.pyc
*.pyo
*.pyd
migrations/*

# Configuración de VS Code
.vscode/
.settings/

# Archivos de dependencias y compilación
node_modules/
dist/
build/
